@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "components/button";
@import "layout/header";
@import "pages/home";

.header {
  /* it means it should be 95% of the viewport height*/
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url("../img/java.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 68%, 0 100%);
  position: relative;
}
.avatar__box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__avatar {
  border-radius: 50%;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 40px;
  object-fit: contain;
  border: solid 6px $color-white;
}
.header__texbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.header__primary {
  color: $color-white;
  text-transform: uppercase;
  display: block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 20px;
}
.header__primary__main {
  font-weight: 700;
  letter-spacing: 40px;
}
.header__primary__sub {
  font-weight: 700;
  letter-spacing: 40px;
}
